header#header-scene-5{
	@extend %full-width;
	@extend %element;
	@extend %ir;
	text-align:center;
	background-image: url('../images/header-scene-5-tablet.png');
	height: 192px;
	@media screen and (max-width: $break-point) {
		background-image: url('../images/header-scene-5.png');	
		height:185px;
	}
	margin-top:62px;
}
footer#footer-scene-5{
	@extend %full-width;
	@extend %element;
	position:relative;
	background-position: left top;
	background-image: url('../images/footer-scene-5-tablet.png');
	height: 235px;
	@include abs-pos(auto,auto,0,0);
	@media screen and (max-width: $break-point) {
		background-image:url('../images/footer-scene-5.png');
		height:163px;
		position: relative;
	}
	a{
		@include abs-pos(0,0,0,0);
		@extend %ir;	
	}
}
table{
	border-collapse:separate;
	text-align:center;
	margin-bottom:20px;
	font-family: $arial;
	@include border-radius(10px);
	overflow: hidden;
	border: 1px solid $red;
	th{
		background-color: $red;
		@include font-size(15);
		font-weight: normal;
		color: white;
		padding: 10px;
		//@include border-radiuses(10px,0,0,10px);
	}
	td{
		background-color: #e3e5dc;
		padding: 15px;
		color: $grey;
		@include font-size(16);
		border-top:1px solid $red;
		&:nth-child(2){
			border-left:1px solid $red;
		}
		span{
			@include font-size(28);
		}
	}
}
.scene-5{
	h3{
		margin-bottom: 20px;
	}
}
