header#header-scene-2{
	@extend %full-width;
	@extend %element;
	@extend %ir;
	text-align:center;
	margin-top:62px;
	height:322px;
	background-image: url('../images/header-scene-2-tablet.png');
	@media screen and (max-width: $break-point) {
		background-image: url('../images/header-scene-2.png');	
		height:287px;
	}
}
#accordion{
	width:100%;
	margin:0 auto;
	dl{
		padding:0;
		margin:0;
		dt{
			position: relative;
			height: 21px;
			display: block;
			font-family: $interstate-bold;
			@include font-size(21);
			display: block;
			cursor:pointer;
			margin-bottom: 20px;
			&:after{
				content:"";
				display: block;
				@include abs-pos(0,0,auto,auto);
				background: url('../images/icon-expand.png') center center no-repeat;
				height:22px;
				width:22px;
			}
		}
	dd{
		padding:0;
		margin:0 0 40px;
		display: none;
	}
}
}
footer#footer-scene-2{
	@extend %full-width;
	@extend %element;
	position:relative;
	background-position: left top;
	background-image:url('../images/footer-scene-2-tablet.png');
	height:268px;
	@include abs-pos(auto,auto,-10px,0);
	@media screen and (max-width: $break-point) {
		background-image:url('../images/footer-scene-2.png');
		height:260px;	
		@include abs-pos(auto,auto,0,0);
	}
	a{
		@include abs-pos(0,0,0,0);
		@extend %ir;	
	}
}

