header#header-scene-1{
	@extend %full-width;
	height:164px;
	@extend %element;
	@extend %ir;
	margin-top:62px;
	background-image: url('../images/header-scene-1.png');
}
.scene-1{
	h3{
		text-align: center; 
	}
}
footer#footer-scene-1{
	@extend %full-width;
	@extend %element;
	@include abs-pos(auto,auto,0,0);
	background-position: center bottom;
	background-image:url('../images/hills-tablet.png');
	height:313px;
	@media screen and (max-width: $break-point) {
		background-image:url('../images/hills.png');
		height:244px;
	}
	#road{
		@extend %full-width;
		@extend %element;
		@include abs-pos(auto,auto,0,0);
		background-image:url('../images/road-tablet.png');
		height:197px;
		z-index:3;
		@media screen and (max-width: $break-point) {
			background-image:url('../images/road.png');	
			height:124px;
		}
	}
	a#sign-no{
		@extend %element;
		@extend %ir;
		width:170px;
		height:142px;
		background-image:url('../images/sign-no.png');
		@include abs-pos(40px,auto,auto,50%);
		margin-left:-140px;
		z-index:2;
		@media screen and (max-width: $break-point) {
			@include abs-pos(60px,auto,auto,50%);	
		}
	}
	a#sign-yes{
		@extend %element;
		@extend %ir;
		z-index:2;
		width:154px;
		height:194px;
		background-image:url('../images/sign-yes.png');
		@include abs-pos(0,auto,auto,50%);
		z-index:1;
		margin-left:-10px;
		@media screen and (max-width: $break-point) {
			@include abs-pos(-20px,auto,auto,50%);
		}
	}


}

