//Font declarations

@font-face {
    font-family: "marydale";
    src: url('/fonts/marydale-webfont.eot');
    src: url('/fonts/marydale-webfont?#iefix') format('embedded-opentype'),
         url('/fonts/marydale-webfont.woff') format('woff'),
         url('/fonts/marydale-webfont.ttf') format('truetype'),
         url('/fonts/marydale-webfont.svg#marydale') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "marydale-bold";
    src: url('/fonts/marydale-bold-webfont.eot');
    src: url('/fonts/marydale-bold-webfont?#iefix') format('embedded-opentype'),
         url('/fonts/marydale-bold-webfont.woff') format('woff'),
         url('/fonts/marydale-bold-webfont.ttf') format('truetype'),
         url('/fonts/marydale-bold-webfont.svg#marydale-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "interstateblack";
    src: url('/fonts/interstateblack-webfont.eot');
    src: url('/fonts/interstateblack-webfont?#iefix') format('embedded-opentype'),
         url('/fonts/interstateblack-webfont.woff') format('woff'),
         url('/fonts/interstateblack-webfont.ttf') format('truetype'),
         url('/fonts/interstateblack-webfont.svg#interstateblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "interstatelight";
    src: url('/fonts/interstatelight-webfont.eot');
    src: url('/fonts/interstatelight-webfont?#iefix') format('embedded-opentype'),
         url('/fonts/interstatelight-webfont.woff') format('woff'),
         url('/fonts/interstatelight-webfont.ttf') format('truetype'),
         url('/fonts/interstatelight-webfont.svg#interstatelight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "interstateregular";
    src: url('/fonts/interstateregular-webfont.eot');
    src: url('/fonts/interstateregular-webfont?#iefix') format('embedded-opentype'),
         url('/fonts/interstateregular-webfont.woff') format('woff'),
         url('/fonts/interstateregular-webfont.ttf') format('truetype'),
         url('/fonts/interstateregular-webfont.svg#interstateregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "interstatebold";
    src: url('/fonts/interstate_bold-webfont.eot');
    src: url('/fonts/interstate_bold-webfont?#iefix') format('embedded-opentype'),
         url('/fonts/interstate_bold-webfont.woff') format('woff'),
         url('/fonts/interstate_bold-webfont.ttf') format('truetype'),
         url('/fonts/interstate_bold-webfont.svg#interstatebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

//overide neat outer container width
$max-width: 1080px; 

//Colours

$yellow: #f3e600;
$green: #92a65c;
$grey: #535353;

//Fonts

$marydale:  "marydale", Helvetica, Arial, sans-serif;
$marydaleBold:  "marydale-bold", Helvetica, Arial, sans-serif;
$arial: Arial,Helvetica, sans-serif;
$interstate-light: "interstatelight",Helvetica,Arial,sans-serif;
$interstate-regular: "interstateregular",Helvetica,Arial,sans-serif;
$interstate-bold: "interstatebold",Helvetica,Arial,sans-serif;
$interstate-black: "interstateblack",Helvetica,Arial,sans-serif;
//Break points

$break-small: 639px;
$break-medium: 767px;
$break-large: 999px;