#container{
	width: 100%;
	height: auto;
	max-width: 768px;
	min-height:568px;
	height:auto;
	display: block;
	@include bg-cover;
	background-image: url('../images/tablet-bg.jpg');
	@media screen and (max-width: $break-point) {
		background-image: url('../images/mobile-bg.jpg');
	}
	@extend %center;
	background-color: #8ebedd;
	@extend .clearfix;
	position: relative;
	overflow: hidden;
	min-height:1024px;
	@media screen and (max-width: $break-point) {
		min-height:auto;
	}
}
#main{
	@extend %full-width;
	padding:0 20px 50px;
	margin:0 auto;
	width: 400px;
	@media screen and (max-width: $break-point) {
		width:100%
	}
	.scene-4 &{
		padding-bottom: 0;
	}
}
%element{
	display: block;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: transparent;
	width: 100%;
	@include transition (all 0.1s ease-in-out);
}
#prompt{
	width: 250px;
	height: 50px;
	line-height:50px;
	@include border-radius(10px);
	background-color: white;
	padding:0 12px;
	position:absolute;
	display: block;
	text-align:center;
	font-family: $interstate-regular;
	color: $grey;
	left:0;
	@include font-size(18);
	top:0;
	z-index: 999;
}