nav#nav{
	position:fixed;
	top: 63px;
	left:auto;
	width: 100%;
	max-width:768px;
	margin:0 auto;
	display:block;
	background-color: white;
	display:none;
	z-index:999;
	ul{
		padding:0;
		margin:0;
		list-style-type: none;
		a:link, a:visited{
			@include font-size(14);
			height:40px;
			line-height: 40px;
			display: block;
			padding: 0 20px;
			text-decoration: none;
			color: $blue;
		}
		a:active{
			background-color: #edefef;
		}
	}
}