#content{
	position: relative;
	width: 100%;
	display: block;
	height: 842px;
	@media screen and (min-height: 800px){ //if screen height is larger than 800px make site 100% deep
		height: 100%;
		min-height: 100%;
	}
}

#container{
	position: absolute;
	@include abs-pos(0,0,0,0);
	display: block;
	//height: 842px;
	@include bg-cover;
	background-image: url('../images/bg.jpg');
	&.scene-2{
		background-image: url('../images/bg-scene-2.jpg');
	}
	&.scene-4{
		background-image: url('../images/bg-scene-4.jpg');
	}
	/*@media screen and (min-height: 800px){ //if screen height is larger than 800px make site 100% deep
		height: 100%;
		min-height: 100%;
	}*/
}
#prompt{
	width: 250px;
	height: 50px;
	line-height:50px;
	@include border-radius(10px);
	background-color: white;
	padding:20px;
	position:absolute;
	display: block;
	left:0;
	top:0;
	z-index: 999;
	&.loader{
		&:after{
			content:"";
			width:120px;
			width:32px;
			height:32px;
			background:url('../images/loader.gif') center center no-repeat;
			@include abs-pos(9px,12px,auto,auto);
		}
	}
}
%element{
	display: block;
	@include abs-pos(0,auto,auto,0);
	background-position: center top;
	background-repeat: no-repeat;
	background-color: transparent;
	width: 100%;
	@include transition (all 0.1s ease-in-out);
}



