#scene-6-hills{
	@extend %full-width;
	@extend %element;
	height: 447px;
	background-image: url('../images/scene-6-hills.png');
	@include abs-pos(auto,auto,0,0);
}
#large-cloud{
	@extend %element;
	width:620px;
	height:478px;
	background-image: url('../images/large-cloud.png');
	@include abs-pos(40px,auto,auto,50%);
	margin-left:-48%;
	padding:120px 0 0 180px;
	.content{}
	h2{
		font-family: $interstate-regular;
		@include font-size(24);
		font-weight: normal;
		color: $grey;
	}
}
#sign{
	width: 447px;
	height: 290px;
	@extend %element;
	@include abs-pos(auto,auto,0,2%);
	background-image: url('../images/sign.png');
	z-index:10;
	h2{
		font-family: $interstate-regular;
		@include font-size(24);
		font-weight: normal;
	}
}
#scene-6-balloon{
	@extend %element;
	width:416px;
	height:435px;
	background-image: url('../images/balloon-scene-6.png');
	@include abs-pos(0,1%,auto,auto);
	@include font-size(14);
	text-align: center;
	padding:50px 0 0;
	.content{
		margin-left: -25px;
	}
	h2{
		font-family: $interstate-regular;
		@include font-size(24);
		font-weight: normal;
	}
	ul{
		list-style-type: none;
		padding: 0;
		text-align: center;
		li{
			margin-bottom: 15px;
		}
		a:link, a:visited{
			color: white;
			text-decoration: none;
		}
		a:hover, a:active{
			text-decoration: underline;
		}
	}
}