#kite{
	@extend %element;
	width: 613px;
	height: 841px;
	background-image: url('../images/kite.png');
	@include abs-pos(0,auto,auto,50%);
	z-index: 5;
	margin-left: -80px;
	color: white;
	padding: 130px 0 0 105px;
	font-family: $interstate-light;
	@include font-size(16);
	header{
		@extend .clearfix;
		margin-bottom: 25px;
		position: relative;
		text-align: center;
		h3{
			@include font-size(38);
			line-height: 120%;
			margin-bottom: 0;
		}
		
	}
	p{
		@extend .clearfix;
		margin-bottom: 25px;

		span{
			@include font-size(21);
		}
		&:nth-child(2){
			margin-left:30px;
		}
		&:nth-child(3){
			margin-left:25px;
		}
		&:nth-child(4){
			margin-left:20px;	
		}
		&:nth-child(5){
			margin-left:15px;
		}
		&:nth-child(6){
			margin-left:10px;
		}
		&:nth-child(7){
			margin-left:5px;
		}
		&:nth-child(8){
			
		}
		span{
			&.left{
				font-family: $interstate-regular;
				@include font-size(15);
				width:60%;
				float: left;
			}
			&.right{
				@include font-size(21);
				font-weight: bold;
				width: 40%;
				float: left;
			}
		}
	}
}
#sign-get-a-quote{
	@extend %element;
	@extend %ir;
	width:504px;
	height: 219px;
	background-image: url('../images/sign-get-a-quote.png');
	@include abs-pos(auto,auto,0,50%);
	z-index: 10;
	margin: 0 0 0 -350px;
}
#deer-left{
	@extend %element;
	width: 320px;
	height: 283px;
	background-image: url('../images/deer-left.png');
	@include abs-pos(auto,auto,0,-11%);
	z-index: 4;
}

