@mixin font-size($sizeValue: 12 ){
  font-size: $sizeValue + px; //fallback for old browsers
  //font-size: (0.125 * $sizeValue) + rem;
  font-size: (($sizeValue/100)*10) + rem;
}
@mixin line-height($sizeValue: 12 ){
	line-height: $sizeValue + px;
	line-height: (($sizeValue/100)*10) + rem;
	}